body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.malla {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  gap: 15px;
  justify-content: center;
  margin-top: 40px;
}

.celda {
  background: #eee;
  padding: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.celda:hover {
  background: #a3d5ff;
  transform: scale(1.05);
}
